In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env

In [2]:
import wrangle

from wrangle import wrangle_telco

In [3]:
df = wrangle_telco()

In [4]:
df.head()

   monthly_charges  tenure  total_charges
0           109.70      71        7904.25
1            84.65      63        5377.80
2            90.45      65        5957.90
3            45.20      54        2460.55
4           116.80      72        8456.75

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   monthly_charges  1685 non-null   float64
 1   tenure           1685 non-null   int64
 2   total_charges    1685 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 52.7 KB